XML Homework/Part I/Students_schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:students" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="students">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="student">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string" />
              <xs:element name="gender" type="xs:string" />
              <xs:element name="birth-date" type="xs:date" />
              <xs:element name="phone-number" type="xs:string" />
              <xs:element name="email" type="xs:string" />
              <xs:element name="university" type="xs:string" />
              <xs:element name="speciality" type="xs:string" />
              <xs:element name="faculty-number" type="xs:unsignedLong" />
              <xs:element name="exams">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="exam">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="exam-name" type="xs:string" />
                          <xs:element name="exam-date" type="xs:date" />
                          <xs:element name="exam-grade" type="xs:decimal" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="culture" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="endorsements">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="endorsement">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="author-name" />
                          <xs:element name="author-email" />
                          <xs:element name="date" />
                          <xs:element name="text" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>